/* Light mode CSS */
/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
body {
  font-family: "Open Sans", sans-serif;
  color: #111111;
}

a {
  color: #0563bb;
  text-decoration: none;
}

a:hover {
  color: #ed0681;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Raleway", sans-serif;
}

/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
.back-to-top {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  right: 15px;
  bottom: 15px;
  z-index: 996;
  background: #0563bb;
  width: 40px;
  height: 40px;
  border-radius: 50px;
  transition: all 0.4s;
}

.back-to-top i {
  font-size: 28px;
  color: #fff;
  line-height: 0;
}

.back-to-top:hover {
  background: #0678e3;
  color: #fff;
}

.back-to-top.active {
  visibility: visible;
  opacity: 1;
}

/*--------------------------------------------------------------
# Preloader
--------------------------------------------------------------*/
#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  overflow: hidden;
  background: #ffffff;
}

#preloader:before {
  content: "";
  position: fixed;
  top: calc(50% - 30px);
  left: calc(50% - 30px);
  border: 6px solid #0563bb;
  border-top-color: #fff;
  border-bottom-color: #fff;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: animate-preloader 1s linear infinite;
}

@keyframes animate-preloader {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
/*--------------------------------------------------------------
# Disable aos animation delay on mobile devices
--------------------------------------------------------------*/
@media screen and (max-width: 768px) {
  [data-aos-delay] {
    transition-delay: 0 !important;
  }
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 9997;
  transition: all 0.5s;
  padding: 15px;
  overflow-y: auto;
}

@media (max-width: 991px) {
  #header {
    width: 300px;
    background: #fff;
    border-right: 1px solid #e6e9ec;
    left: -300px;
  }
}

@media (min-width: 991px) {
  #main {
    margin-left: 100px;
  }
}

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/**
* Desktop Navigation 
*/
.nav-menu {
  padding: 0;
  display: block;
}

.nav-menu * {
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav-menu>ul>li {
  position: relative;
  white-space: nowrap;
}

.nav-menu a,
.nav-menu a:focus {
  display: flex;
  align-items: center;
  color: #45505b;
  padding: 10px 18px;
  margin-bottom: 8px;
  transition: 0.3s;
  font-size: 15px;
  border-radius: 50px;
  background: #f2f3f5;
  height: 56px;
  width: 100%;
  overflow: hidden;
  transition: 0.3s;
}

.nav-menu a i,
.nav-menu a:focus i {
  font-size: 20px;
}

.nav-menu a span,
.nav-menu a:focus span {
  padding: 0 5px 0 7px;
  color: #45505b;
}

@media (min-width: 992px) {

  .nav-menu a,
  .nav-menu a:focus {
    width: 56px;
  }

  .nav-menu a span,
  .nav-menu a:focus span {
    display: none;
    color: #fff;
  }
}

.nav-menu a:hover,
.nav-menu .active,
.nav-menu .active:focus,
.nav-menu li:hover>a {
  color: #fff;
  background: #0563bb;
}

.nav-menu a:hover span,
.nav-menu .active span,
.nav-menu .active:focus span,
.nav-menu li:hover>a span {
  color: #fff;
}

.nav-menu a:hover,
.nav-menu li:hover>a {
  width: 100%;
  color: #fff;
}

.nav-menu a:hover span,
.nav-menu li:hover>a span {
  display: block;
}

/**
* Mobile Navigation 
*/
.mobile-nav-toggle {
  position: fixed;
  right: 10px;
  top: 10px;
  z-index: 9998;
  border: 0;
  background: none;
  font-size: 28px;
  transition: all 0.4s;
  outline: none !important;
  line-height: 0;
  cursor: pointer;
  border-radius: 50px;
  padding: 5px;
}

.mobile-nav-toggle i {
  color: #45505b;
}

.mobile-nav-active {
  overflow: hidden;
}

.mobile-nav-active #header {
  left: 0;
}

.mobile-nav-active .mobile-nav-toggle {
  color: #fff;
  background-color: #0563bb;
}

/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
#hero {
  width:auto;
  height: 100vh;
  background: url("../img/back-img.jpeg") top right no-repeat;
  background-repeat:repeat-x;
  /* background-repeat:no-repeat; */
  background-size: cover;
  position: relative;
  /* opacity: 0.5; */
}

@media (min-width: 992px) {
  #hero {
    padding-left: 160px;
  }
}

#hero:before {
  content: "";
  background: rgba(255, 255, 255, 0.8);
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}

#hero h1 {
  margin: 0;
  font-size: 64px;
  font-weight: 700;
  line-height: 56px;
  color: #45505b;
}

#hero p {
  color: #45505b;
  margin: 15px 0 0 0;
  font-size: 26px;
  font-family: "Poppins", sans-serif;
}

#hero p span {
  color: #0563bb;
  letter-spacing: 1px;
}

#hero .social-links {
  margin-top: 30px;
  margin-left: auto; /**/
  margin-right: auto; /**/

}

#hero .social-links a {
  font-size: 24px;
  display: inline-block;
  color: #000000;
  line-height: 1;
  margin-right: 20px;
  transition: 0.3s;
}

#hero .social-links a:hover {
  color: #0563bb;
}
#hero .social-links .google a:hover {
  color: #e2293e;
}
#hero .social-links .linkedin a:hover {
  color: #3735c5;
}
#hero .social-links .instagram a:hover {
  color: #eb37ee;
}
#hero .social-links .twitter a:hover {
  color: #1097e6;
}
#hero .social-links .github a:hover {
  color: #6d7479;
}



@media (max-width: 992px) {
  #hero {
    text-align: center;
  }

  #hero h1 {
    font-size: 32px;
    line-height: 36px;
  }

  #hero p {
    margin-top: 10px;
    font-size: 20px;
    line-height: 24px;
  }
}

/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/
section {
  padding: 60px 0;
  overflow: hidden;
}

.section-title {
  text-align: center;
  padding-bottom: 30px;
}

.section-title h2 {
  font-size: 32px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 20px;
  padding-bottom: 20px;
  position: relative;
  color: #45505b;
}

.section-title h2::before {
  content: "";
  position: absolute;
  display: block;
  width: 120px;
  height: 1px;
  background: #ddd;
  bottom: 1px;
  left: calc(50% - 60px);
}

.section-title h2::after {
  content: "";
  position: absolute;
  display: block;
  width: 40px;
  height: 3px;
  background: #0563bb;
  bottom: 0;
  left: calc(50% - 20px);
}

.section-title p {
  margin-bottom: 0;
}

/*--------------------------------------------------------------
# About
--------------------------------------------------------------*/
.about .content h3 {
  font-weight: 700;
  font-size: 26px;
  color:#45505b;
}

.about .content ul {
  list-style: none;
  padding: 0;
}

.about .content ul li {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}

.about .content ul strong {
  margin-right: 10px;
}

.about .content ul i {
  font-size: 16px;
  margin-right: 5px;
  color: #0563bb;
  line-height: 0;
}

.about .content p:last-child {
  margin-bottom: 0;
}

/*--------------------------------------------------------------
# Facts
--------------------------------------------------------------*/
.facts .count-box {
  padding: 30px 30px 25px 30px;
  margin-top: 30px;
  width: 100%;
  position: relative;
  text-align: center;
  background: #fff;
}

.facts .count-box i {
  position: absolute;
  top: -25px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 24px;
  background: #0563bb;
  color: #fff;
  border-radius: 50px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
}

.facts .count-box span {
  font-size: 36px;
  display: block;
  font-weight: 600;
  color: #011426;
}

.facts .count-box p {
  padding: 0;
  margin: 0;
  font-family: "Raleway", sans-serif;
  font-size: 14px;
}

/*--------------------------------------------------------------
# Akills
--------------------------------------------------------------*/
.skills .progress {
  height: 60px;
  display: block;
  background: none;
  border-radius: 0;
}

.skills .progress .skill {
  padding: 10px 0;
  margin: 0;
  text-transform: uppercase;
  display: block;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  color: #45505b;
}

.skills .progress .skill .val {
  float: right;
  font-style: normal;
}

.skills .progress-bar-wrap {
  background: #f2f3f5;
}

.skills .progress-bar {
  width: 1px;
  height: 10px;
  transition: 0.9s;
  background-color: #0563bb;
}
.skills .progress-bar-1 {
  width: 1px;
  height: 10px;
  transition: 0.9s;
  background-color: #0563bb;
}
.skills .progress-bar-2 {
  width: 1px;
  height: 10px;
  transition: 0.9s;
  background-color: #0563bb;
}
.skills .progress-bar-3 {
  width: 1px;
  height: 10px;
  transition: 0.9s;
  background-color: #0563bb;
}
.skills .progress-bar-4 {
  width: 1px;
  height: 10px;
  transition: 0.9s;
  background-color: #0563bb;
}
.skills .progress-bar-5 {
  width: 1px;
  height: 10px;
  transition: 0.9s;
  background-color: #0563bb;
}
.skills .progress-bar-6 {
  width: 1px;
  height: 10px;
  transition: 0.9s;
  background-color: #0563bb;
}
.skills .progress-bar-7 {
  width: 1px;
  height: 10px;
  transition: 0.9s;
  background-color: #0563bb;
}
.skills .progress-bar-8 {
  width: 1px;
  height: 10px;
  transition: 0.9s;
  background-color: #0563bb;
}
.skills .progress-bar-9 {
  width: 1px;
  height: 10px;
  transition: 0.9s;
  background-color: #0563bb;
}
.skills .progress-bar-10 {
  width: 1px;
  height: 10px;
  transition: 0.9s;
  background-color: #0563bb;
}
.skills .progress-bar-11 {
  width: 1px;
  height: 10px;
  transition: 0.9s;
  background-color: #0563bb;
}
.skills .progress-bar-12 {
  width: 1px;
  height: 10px;
  transition: 0.9s;
  background-color: #0563bb;
}
.skills .progress-bar-13 {
  width: 1px;
  height: 10px;
  transition: 0.9s;
  background-color: #0563bb;
}

/*--------------------------------------------------------------
# Resume - start
--------------------------------------------------------------*/
.resume .resume-title {
  font-size: 26px;
  font-weight: 700;
  margin-top: 20px;
  margin-bottom: 20px;
  color: #45505b;
}

.resume .resume-item {
  padding: 0 0 20px 20px;
  margin-top: -2px;
  border-left: 2px solid #e60606;
  position: relative;
}

.resume .resume-item h4 {
  line-height: 18px;
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
  color: #0563bb;
  margin-bottom: 10px;
}

.resume .resume-item h5 {
  font-size: 16px;
  background: #f7f8f9;
  padding: 5px 15px;
  display: inline-block;
  font-weight: 600;
  margin-bottom: 10px;
}

.resume .resume-item ul {
  padding-left: 20px;
}

.resume .resume-item ul li {
  padding-bottom: 10px;
}

.resume .resume-item:last-child {
  padding-bottom: 0;
}

.resume .resume-item::before {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 50px;
  left: -9px;
  top: 0;
  background: #fff;
  border: 2px solid  #e60606;
}


/*--------------------------------------------------------------
# Resume
--------------------------------------------------------------*/

/*--------------------------------------------------------------
#Resume-item-exception            start
----------------------------------------------------------------*/

.resume .resume-title {
  font-size: 26px;
  font-weight: 700;
  margin-top: 20px;
  margin-bottom: 20px;
  color: #45505b;
}

.resume .resume-item-exception {
  padding: 20px 20px 20px 20px;
  margin-top: -2px;
  /* border-left: 2px solid #0563bb; */
  position: relative;
}

.resume .resume-item-exception h4 {
  line-height: 18px;
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
  color: #0563bb;
  margin-bottom: 10px;
}

.resume .resume-item-exception h5 {
  font-size: 16px;
  background: #f7f8f9;
  padding: 5px 15px;
  display: inline-block;
  font-weight: 600;
  margin-bottom: 10px;
}

.resume .resume-item-exception ul {
  padding-left: 20px;
}

.resume .resume-item-exception ul li {
  padding-bottom: 10px;
}

.resume .resume-item-exception:last-child {
  padding-bottom: 0;
}

/*--------------------------------------------------------------
#Resume-item-exception            End
----------------------------------------------------------------*/

/*--------------------------------------------------------------
# Portfolio
--------------------------------------------------------------*/
.portfolio .portfolio-item {
  margin-bottom: 30px;
}

.portfolio #portfolio-flters {
  padding: 0;
  margin: 0 auto 25px auto;
  list-style: none;
  text-align: center;
  background: #fff;
  border-radius: 50px;
  padding: 2px 15px;
}

.portfolio #portfolio-flters li {
  cursor: pointer;
  display: inline-block;
  padding: 10px 15px;
  font-size: 14px;
  font-weight: 600;
  line-height: 1;
  text-transform: uppercase;
  color: #272829;
  margin-bottom: 5px;
  transition: all 0.3s ease-in-out;
}

.portfolio #portfolio-flters li:hover,
.portfolio #portfolio-flters li.filter-active {
  color: #0563bb;
}

.portfolio #portfolio-flters li:last-child {
  margin-right: 0;
}

.portfolio .portfolio-wrap {
  transition: 0.3s;
  position: relative;
  overflow: hidden;
  z-index: 1;
  background: rgba(69, 80, 91, 0.8);
}

.portfolio .portfolio-wrap::before {
  content: "";
  background: rgba(255, 255, 255, 0.7);
  position: absolute;
  left: 30px;
  right: 30px;
  top: 30px;
  bottom: 30px;
  transition: all ease-in-out 0.3s;
  z-index: 2;
  opacity: 0;
}

.portfolio .portfolio-wrap .portfolio-info {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: center;
  z-index: 3;
  transition: all ease-in-out 0.3s;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.portfolio .portfolio-wrap .portfolio-info::before {
  display: block;
  content: "";
  width: 48px;
  height: 48px;
  position: absolute;
  top: 35px;
  left: 35px;
  border-top: 3px solid #d7dce1;
  border-left: 3px solid #d7dce1;
  transition: all 0.5s ease 0s;
  z-index: 9994;
}

.portfolio .portfolio-wrap .portfolio-info::after {
  display: block;
  content: "";
  width: 48px;
  height: 48px;
  position: absolute;
  bottom: 35px;
  right: 35px;
  border-bottom: 3px solid #d7dce1;
  border-right: 3px solid #d7dce1;
  transition: all 0.5s ease 0s;
  z-index: 9994;
}

.portfolio .portfolio-wrap .portfolio-info h4 {
  font-size: 20px;
  color: #45505b;
  font-weight: 600;
}

.portfolio .portfolio-wrap .portfolio-info p {
  color: #45505b;
  font-size: 14px;
  text-transform: uppercase;
  padding: 0;
  margin: 0;
}

.portfolio .portfolio-wrap .portfolio-links {
  text-align: center;
  z-index: 4;
}

.portfolio .portfolio-wrap .portfolio-links a {
  color: #45505b;
  margin: 0 2px;
  font-size: 28px;
  display: inline-block;
  transition: 0.3s;
}

.portfolio .portfolio-wrap .portfolio-links a:hover {
  color: #148af9;
}

.portfolio .portfolio-wrap:hover::before {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 1;
}

.portfolio .portfolio-wrap:hover .portfolio-info {
  opacity: 1;
}

.portfolio .portfolio-wrap:hover .portfolio-info::before {
  top: 15px;
  left: 15px;
}

.portfolio .portfolio-wrap:hover .portfolio-info::after {
  bottom: 15px;
  right: 15px;
}

/*--------------------------------------------------------------
# Portfolio Details
--------------------------------------------------------------*/
.portfolio-details {
  padding-top: 40px;
}

.portfolio-details .portfolio-details-slider img {
  width: 100%;
}

.portfolio-details .portfolio-details-slider .swiper-pagination {
  margin-top: 20px;
  position: relative;
}

.portfolio-details .portfolio-details-slider .swiper-pagination .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background-color: #fff;
  opacity: 1;
  border: 1px solid #0563bb;
}

.portfolio-details .portfolio-details-slider .swiper-pagination .swiper-pagination-bullet-active {
  background-color: #0563bb;
}

.portfolio-details .portfolio-info {
  padding: 30px;
  box-shadow: 0px 0 30px rgba(69, 80, 91, 0.08);
}

.portfolio-details .portfolio-info h3 {
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #eee;
}

.portfolio-details .portfolio-info ul {
  list-style: none;
  padding: 0;
  font-size: 15px;
}

.portfolio-details .portfolio-info ul li+li {
  margin-top: 10px;
}

.portfolio-details .portfolio-description {
  padding-top: 30px;
}

.portfolio-details .portfolio-description h2 {
  font-size: 26px;
  font-weight: 700;
  margin-bottom: 20px;
}

.portfolio-details .portfolio-description p {
  padding: 0;
}

/*--------------------------------------------------------------
# Services
--------------------------------------------------------------*/
.services .icon-box {
  text-align: center;
  padding: 70px 20px 80px 20px;
  transition: all ease-in-out 0.3s;
  background: #fff;
  box-shadow: 0px 5px 90px 0px rgba(110, 123, 131, 0.05);
}

.services .icon-box .icon {
  margin: 0 auto;
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: ease-in-out 0.3s;
  position: relative;
}

.services .icon-box .icon i {
  font-size: 36px;
  transition: 0.5s;
  position: relative;
}

.services .icon-box .icon svg {
  position: absolute;
  top: 0;
  left: 0;
}

.services .icon-box .icon svg path {
  transition: 0.5s;
  fill: #f5f5f5;
}

.services .icon-box h4 {
  font-weight: 600;
  margin: 10px 0 15px 0;
  font-size: 22px;
}

.services .icon-box h4 a {
  color: #45505b;
  transition: ease-in-out 0.3s;
}

.services .icon-box p {
  line-height: 24px;
  font-size: 14px;
  margin-bottom: 0;
}

.services .icon-box:hover {
  border-color: #fff;
  box-shadow: 0px 0 35px 0 rgba(0, 0, 0, 0.08);
}


/* ================================================================= */

.services .iconbox-rapid7 i {
  color: #e67d32;
}

.services .iconbox-rapid7:hover .icon span {
  color: #fff;
}

.services .iconbox-rapid7:hover .icon path {
  fill: #e67d32;
}

/* ================================================================= */
.services .iconbox-java i {
  color: #e67d32;
}

.services .iconbox-java:hover .icon span {
  color: #fff;
}

.services .iconbox-java:hover .icon path {
  fill: #e67d32;
}
/* ========================================================== */
.services .iconbox-crowdstrike i {
  color: #f00707;
}

.services .iconbox-crowdstrike:hover .icon span {
  color: #fff;
}

.services .iconbox-crowdstrike:hover .icon path {
  fill: #f00909;
}
/* ======================================================= */
/* .services .iconbox-defender365 i {
  color: #000000;
}

.services .iconbox-defender365:hover .icon span {
  color: #fff;
}

.services .iconbox-defender365:hover .icon path {
  fill: #2a2627;
} */
/* ========================================================= */
.services .iconbox-yellow i {
  color: #f3ab0f;
}

.services .iconbox-yellow:hover .icon i {
  color: #fff;
}

.services .iconbox-yellow:hover .icon path {
  fill: #c1732a;
}
/* ============================================================== */
.services .iconbox-aws i {
  color: #388f4b;
}

.services .iconbox-aws:hover .icon span {
  color: #fff;
}

.services .iconbox-aws:hover .icon path {
  fill: #388f4b;
}

/* ============================================================== */
.services .iconbox-mysql i {
  color: #37b3c6;
}

.services .iconbox-mysql:hover .icon span {
  color: #fff;
  
}
.services .iconbox-mysql:hover .icon path {
  fill: #37b3c6;
}

/* ============================================================== */
.services .iconbox-sentinelone i {
  color: #9365f0;
}
/*debugger*/
.services .iconbox-sentinelone:hover .icon span {
  color: #fff;
}

.services .iconbox-sentinelone:hover .icon path {
  fill: #9365f0;
}
/* ============================================================== */

.services .iconbox-mimecast i {
  color: #e6e03e;
}
/*cpp*/
.services .iconbox-mimecast:hover .icon span {
  color: #fff;
}

.services .iconbox-mimecast:hover .icon path {
  fill: #dbd948;
}
/* ============================================================== */

.services .iconbox-avanan i {
  color: pink;
}

.services .iconbox-avanan:hover .icon span {
  color: #fff;
}

.services .iconbox-avanan:hover .icon path {
  fill: palevioletred;
}

/*--------------------------------------------------------------
# Contact
--------------------------------------------------------------*/
.contact .info {
  width: 100%;
  background: #fff;
}

.contact .info i {
  font-size: 20px;
  color: #0563bb;
  float: left;
  width: 44px;
  height: 44px;
  background: #eef7ff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  transition: all 0.3s ease-in-out;
}

.contact .info h4 {
  padding: 0 0 0 60px;
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 5px;
  color: #45505b;
}

.contact .info p {
  padding: 0 0 0 60px;
  margin-bottom: 0;
  font-size: 14px;
  color: #728394;
}

.contact .info .email,
.contact .info .phone {
  margin-top: 40px;
}

.contact .info .email:hover i,
.contact .info .address:hover i,
.contact .info .phone:hover i {
  background: #0563bb;
  color: #fff;
}

.contact .php-email-form {
  width: 100%;
  background: #fff;
}

.contact .php-email-form .form-group {
  padding-bottom: 8px;
}

.contact .php-email-form .error-message {
  display: none;
  color: #fff;
  background: #ed3c0d;
  text-align: left;
  padding: 15px;
  font-weight: 600;
}

.contact .php-email-form .error-message br+br {
  margin-top: 25px;
}

.contact .php-email-form .sent-message {
  display: none;
  color: #fff;
  background: #18d26e;
  text-align: center;
  padding: 15px;
  font-weight: 600;
}

.contact .php-email-form .loading {
  display: none;
  background: #fff;
  text-align: center;
  padding: 15px;
}

.contact .php-email-form .loading:before {
  content: "";
  display: inline-block;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  margin: 0 10px -6px 0;
  border: 3px solid #18d26e;
  border-top-color: #eee;
  animation: animate-loading 1s linear infinite;
}

.contact .php-email-form input,
.contact .php-email-form textarea {
  border-radius: 4px;
  box-shadow: none;
  font-size: 14px;
}

.contact .php-email-form input {
  height: 44px;
}

.contact .php-email-form textarea {
  padding: 10px 12px;
}

.contact .php-email-form button[type=submit] {
  background: #0563bb;
  border: 0;
  padding: 10px 35px;
  color: #fff;
  transition: 0.4s;
  border-radius: 50px;
}

.contact .php-email-form button[type=submit]:hover {
  background: #0678e3;
}

@keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#footer {
  background: #f7f8f9;
  color: #45505b;
  font-size: 14px;
  text-align: center;
  padding: 30px 0;
}

#footer h3 {
  font-size: 36px;
  font-weight: 700;
  position: relative;
  font-family: "Poppins", sans-serif;
  padding: 0;
  margin: 0 0 15px 0;
}

#footer p {
  font-size: 15;
  font-style: italic;
  padding: 0;
  margin: 0 0 40px 0;
}

#footer .social-links {
  margin: 0 0 40px 0;
}

#footer .social-links a {
  font-size: 18px;
  display: inline-block;
  background: #0563bb;
  color: #fff;
  line-height: 1;
  padding: 8px 0;
  margin-right: 4px;
  border-radius: 50%;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
}

#footer .social-links  .google a:hover {
  background: #eb0808;
  color: #fff;
  text-decoration: none;
}
#footer .social-links .linkedin a:hover {
  background: #135fa7;
  color: #fff;
  text-decoration: none;
}
#footer .social-links .github a:hover {
  background: #373a3e;
  color: #fff;
  text-decoration: none;
}
#footer .social-links .twitter a:hover {
  background: #1097e6;
  color: #fff;
  text-decoration: none;
}
#footer .social-links .instagram a:hover {
  background: #eb37ee;
  color: #fff;
  text-decoration: none;
}

#footer .copyright {
  margin: 0 0 5px 0;
}

#footer .credits {
  font-size: 13px;
}



/*-------------------------------------------------------
ICONS - Start
--------------------------------------------------------*/


/* Rapid 7  */
.carbon--number-small-7 {
  display: inline-block;
  color: #cc8c1f;
  width: 100px;
  height: 100px;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32'%3E%3Cpath fill='%23000' d='M16.44 21h-2L17 13h-2v1h-2v-3h6v2z'/%3E%3C/svg%3E");
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
}
/*--------------------------------------------------------*/
/* CrowdStrike */
.simple-icons--falcon {
  display: inline-block;
  color: red;
  width: 60px;
  height: 60px;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23000' d='M15.929 19.487c0 .035.264.2.592.364c1.578.835 2.55 1.742 2.914 2.75c.164.435.171.592.028.92c-.178.436-.207.429.95.393c1.043-.035 1.657-.15 1.657-.314c0-.078-.857-.885-1.171-1.093a1.431 1.431 0 0 1-.186-.15a7.636 7.636 0 0 0-.321-.257a11.96 11.96 0 0 1-.372-.278a6.126 6.126 0 0 0-.25-.193l-.45-.35a4.642 4.642 0 0 0-.535-.357c-.328-.178-.528-.307-.571-.357c-.05-.057-1.036-.593-1.5-.814c-.214-.1-.45-.214-.514-.25c-.157-.086-.271-.093-.271-.014m-5.75-1.536a4.78 4.78 0 0 0-.056.415c-.043.5-.379 1.164-.764 1.52c-.465.436-.75.572-.993.48a3.353 3.353 0 0 0-.628-.115c-.357-.043-.486-.022-.657.078c-.186.108-.222.179-.222.4c0 .315-.007.307.257.165a1.02 1.02 0 0 1 .3-.108c.15 0 .093.143-.093.229c-.207.093-.264.271-.278.828c-.007.422.121.586.236.286c.035-.093.17-.221.3-.293A1.42 1.42 0 0 0 8 21.43c.186-.314.286-.364.286-.15c0 .457.236.479.436.036c.121-.243.186-.307.271-.271c.236.1.515.114.615.028c.1-.086.092-.114-.043-.257c-.086-.093-.15-.179-.129-.193c.157-.114.5-.193.85-.193c.628 0 .714-.107.714-.914c0-.82-.214-1.406-.564-1.556c-.179-.072-.236-.079-.257-.008zM22.535 1.062a1.22 1.22 0 0 0-.193.315c-.414.885-1.785 1.72-3.949 2.392c-.193.064-.535.164-.75.236c-.214.064-.635.2-.928.285c-3.635 1.107-4.27 1.678-5.57 4.963c-.586 1.472-.893 1.964-1.5 2.364c-.507.343-.92.457-2.07.6c-1.829.221-2.536.436-3.107.943c-.35.3-.464.614-.464 1.242c0 .286-.029.536-.057.557c-.036.022-.1.214-.15.436c-.072.3-.072.45-.007.643c.1.292.378.535.628.535c.178 0 .186-.05.05-.371c-.029-.079.014-.179.136-.307c.157-.157.235-.179.72-.179c.558 0 .744-.057 1.008-.3c.15-.135.157-.135.357.086c.421.464 1.52 1.121 2.892 1.735c.65.293 1.057.643 1.364 1.186c.207.357.236.457.236.97c0 .836-.3 1.408-.886 1.68c-.1.05-.243.113-.307.15c-.071.035-.336.063-.593.063H8.93l-.15.336a8.087 8.087 0 0 1-.25.528c-.078.158-.078.208 0 .322c.093.121.122.107.464-.243c.358-.364.579-.471.579-.271c0 .057-.129.2-.279.321c-.35.278-.4.478-.235.95c.135.385.314.5.357.235c.014-.078.121-.235.235-.35c.115-.107.208-.242.208-.292c0-.05.05-.129.107-.179c.157-.128.221.1.121.457c-.064.243-.057.314.036.414c.071.079.093.186.064.307c-.029.129-.014.179.05.179c.1 0 .336-.221.336-.314c0-.029.064-.15.15-.264c.15-.215.157-.258.021-1.014c-.021-.143-.014-.265.014-.265c.15 0 .664.329.693.443c.05.186.264.079.264-.136a.802.802 0 0 0-.428-.678c-.236-.1-.279-.257-.086-.314c.45-.143.871-.4 1.25-.779c.457-.442.535-.535.828-.964c.407-.592.786-.857 1.221-.857c.6 0 2.485.843 3.942 1.764c.679.429 2.007 1.357 2.228 1.557c.043.043.286.221.543.407c.257.179.7.521.986.764c.285.236.542.436.57.436c.236 0 .315-.614.108-.8a5.417 5.417 0 0 0-.557-.343c-.521-.293-1.528-.971-1.964-1.335c-.985-.807-2.242-2.385-3.078-3.864a9.517 9.517 0 0 1-.278-.485c-.6-1.05-1.743-2.385-2.05-2.385c-.121 0-.121-.008.072-.929c.057-.293.142-.792.185-1.107c.129-.87.314-1.863.45-2.356c.386-1.45 1.207-2.457 2.7-3.3c2.092-1.192 2.927-1.928 3.527-3.12c.322-.636.386-.793.579-1.507c.1-.364.221-1.25.171-1.25a.391.391 0 0 0-.1.057zM3.496.484C1.839 2.198 1.003 3.926 1.003 5.647c0 .393.029.729.072.75c.043.021.071.114.071.2c0 .2.172.693.4 1.157c.3.621.736 1.057 1.921 1.914c.929.67 1.443 1.428 1.614 2.385l.093.514l.257-.107c.65-.279 1.15-.379 2.642-.536c.957-.1 1.328-.243 1.771-.678c.629-.629.329-1.036-1.635-2.2c-2.114-1.257-2.87-1.842-3.692-2.863c-.657-.822-.993-1.5-1.157-2.343c-.157-.785.057-2.028.536-3.142c.135-.328.25-.614.25-.642c0-.15-.236.007-.65.428'/%3E%3C/svg%3E");
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
}
/* ------------------------------------------------------------*/
/* Microsoft defender 365 */

.logos--microsoft-icon {
  display: inline-block;
  width: 60px;
  height: 60px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 256 256'%3E%3Cpath fill='%23f1511b' d='M121.666 121.666H0V0h121.666z'/%3E%3Cpath fill='%2380cc28' d='M256 121.666H134.335V0H256z'/%3E%3Cpath fill='%2300adef' d='M121.663 256.002H0V134.336h121.663z'/%3E%3Cpath fill='%23fbbc09' d='M256 256.002H134.335V134.336H256z'/%3E%3C/svg%3E");
}
/* --------------------------------------------------------------------------- */
/* Java */

.fa6-brands--java {
  display: inline-block;
  color:#e67d32;
  width: 65px;
  height: 65px;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 384 512'%3E%3Cpath fill='%23000' d='M277.74 312.9c9.8-6.7 23.4-12.5 23.4-12.5s-38.7 7-77.2 10.2c-47.1 3.9-97.7 4.7-123.1 1.3c-60.1-8 33-30.1 33-30.1s-36.1-2.4-80.6 19c-52.5 25.4 130 37 224.5 12.1m-85.4-32.1c-19-42.7-83.1-80.2 0-145.8C296 53.2 242.84 0 242.84 0c21.5 84.5-75.6 110.1-110.7 162.6c-23.9 35.9 11.7 74.4 60.2 118.2m114.6-176.2c.1 0-175.2 43.8-91.5 140.2c24.7 28.4-6.5 54-6.5 54s62.7-32.4 33.9-72.9c-26.9-37.8-47.5-56.6 64.1-121.3m-6.1 270.5a12.19 12.19 0 0 1-2 2.6c128.3-33.7 81.1-118.9 19.8-97.3a17.33 17.33 0 0 0-8.2 6.3a70.45 70.45 0 0 1 11-3c31-6.5 75.5 41.5-20.6 91.4M348 437.4s14.5 11.9-15.9 21.2c-57.9 17.5-240.8 22.8-291.6.7c-18.3-7.9 16-19 26.8-21.3c11.2-2.4 17.7-2 17.7-2c-20.3-14.3-131.3 28.1-56.4 40.2C232.84 509.4 401 461.3 348 437.4M124.44 396c-78.7 22 47.9 67.4 148.1 24.5a185.89 185.89 0 0 1-28.2-13.8c-44.7 8.5-65.4 9.1-106 4.5c-33.5-3.8-13.9-15.2-13.9-15.2m179.8 97.2c-78.7 14.8-175.8 13.1-233.3 3.6c0-.1 11.8 9.7 72.4 13.6c92.2 5.9 233.8-3.3 237.1-46.9c0 0-6.4 16.5-76.2 29.7M260.64 353c-59.2 11.4-93.5 11.1-136.8 6.6c-33.5-3.5-11.6-19.7-11.6-19.7c-86.8 28.8 48.2 61.4 169.5 25.9a60.37 60.37 0 0 1-21.1-12.8'/%3E%3C/svg%3E");
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
}
/* ----------------------------------------------------------------------- */

/* AWS */

.fontisto--aws {
  display: inline-block;
  color:#388f4b;
  width: 70px;
  height: 70px;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23000' d='M12.248 6.685c-.656 2.694-.614 2.55-1.209 5.014a.43.43 0 0 1-.504.4h.003h-.675a.4.4 0 0 1-.463-.34v-.002c-.577-1.846-1.35-4.41-1.87-6.125c-.192-.633-.066-.618.436-.605c.174.005.342 0 .515 0a.39.39 0 0 1 .426.331v.002c.169.605.281 1.069 1.246 4.88c.018.075.042.146.066.215h.051c.023-.094.051-.182.075-.277q.548-2.313 1.092-4.63c.113-.48.314-.525.8-.525h.356c.32.005.422.07.502.389c.281 1.097 1.102 4.77 1.251 5.174c.24-.858-.084.37 1.336-5.108c.098-.379.192-.454.577-.454h.591c.253.005.328.084.267.333c-.113.446-.136.464-1.935 6.228c-.146.464-.197.506-.684.506h-.497c-.342 0-.431-.061-.515-.394c-.202-.759-1.092-4.485-1.238-5.01zm-6.364 5.211a.411.411 0 0 0 .661.112l.295-.197c.32-.211.342-.295.169-.633a2.626 2.626 0 0 1-.296-1.218v-.045v.002c0-.146.028-2.61-.042-3.13A2.03 2.03 0 0 0 5.2 4.976l-.014-.003a4.457 4.457 0 0 0-1.552-.139l.016-.001a4.67 4.67 0 0 0-2.025.547l.025-.012a.4.4 0 0 0-.191.227l-.001.003a1.86 1.86 0 0 0-.033.575l-.001-.008c.028.277.122.328.384.24c.24-.08.469-.182.708-.253a3.442 3.442 0 0 1 2.09-.074l-.024-.006c.317.095.564.334.668.639l.002.007a3.045 3.045 0 0 1 .11 1.141l.001-.012c0 .258-.005.258-.258.211a6.012 6.012 0 0 0-1.987-.144l.024-.002a2.53 2.53 0 0 0-1.787.933l-.004.005c-.26.36-.416.811-.416 1.298c0 .197.025.387.073.569l-.003-.016a1.761 1.761 0 0 0 1.225 1.422l.012.003a2.867 2.867 0 0 0 2.71-.45l-.006.005c.178-.131.338-.29.52-.446c.146.234.272.454.417.656zm-.72-2.887h.005a.201.201 0 0 1 .197.242V9.25c-.01.178.005.356-.014.534c-.05.523-.377.959-.83 1.164l-.009.004a2.181 2.181 0 0 1-1.232.234l.009.001a1.003 1.003 0 0 1-.917-1.24l-.001.007c.026-.548.46-.987 1.004-1.021h.003a4.642 4.642 0 0 1 1.824.085l-.032-.007zM21.51 12.06a2.051 2.051 0 0 0 1.367-2.357l.002.013a1.748 1.748 0 0 0-1.169-1.379l-.012-.004a20.053 20.053 0 0 1-2.383-.905l.129.053a.64.64 0 0 1-.356-.559v-.001a.81.81 0 0 1 .717-.927h.003a3.24 3.24 0 0 1 1.337-.015l-.02-.003c.342.066.67.197 1.003.295c.131.042.277.098.366-.075a.781.781 0 0 0-.338-1.019l-.004-.002a3.929 3.929 0 0 0-1.686-.373c-.546 0-1.066.11-1.54.308l.026-.01a1.93 1.93 0 0 0-.101 3.552l.012.005c.361.174.754.277 1.134.417s.759.272 1.13.426a.822.822 0 0 1 .059 1.404l-.003.002c-1.298.72-3.04-.113-3.243-.178c-.154-.051-.248.01-.295.174a.782.782 0 0 0 .539 1.063l.005.001a4.842 4.842 0 0 0 1.79.336c.546 0 1.072-.089 1.563-.253l-.035.01zm-7.634 7.625a16.544 16.544 0 0 0 6.763-2.244l-.076.042c.375-.22.726-.48 1.082-.736c.342-.24.15-.862-.53-.572c-2.344 1.029-5.066 1.687-7.925 1.821l-.051.002a22.28 22.28 0 0 1-4.393-.235l.123.016C5.752 17.33 2.945 16.321.44 14.852l.109.059a1.094 1.094 0 0 0-.297-.139l-.008-.002c-.23-.051-.361.22-.113.454a17.206 17.206 0 0 0 11.716 4.578h.014h-.001c.675-.038 1.35-.042 2.015-.117zm8.187-4.32c.694.038.909.277.736.946c-.178.694-.436 1.369-.651 2.053c-.042.136-.197.295-.038.413c.174.122.305-.047.422-.154a4.301 4.301 0 0 0 1.044-1.555l.01-.029a4.637 4.637 0 0 0 .408-1.919v-.047v.002c-.01-.29-.084-.413-.366-.492a3.891 3.891 0 0 0-.757-.148l-.016-.001a5.207 5.207 0 0 0-2.936.51l.03-.014a2.4 2.4 0 0 0-.412.28l.004-.003c-.051.042-.15.248.113.286a1.116 1.116 0 0 0 .283-.015l-.007.001a12.68 12.68 0 0 1 2.151-.112h-.019z'/%3E%3C/svg%3E");
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
}

/* ----------------------------------------------------------------------- */

/* mysql */
.devicon-plain--mysql-wordmark {
  display: inline-block;
  color: #37b3c6;
  width: 70px;
  height: 70px;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 128 128'%3E%3Cpath fill='%23000' d='M0 91.313h4.242V74.566l6.566 14.598c.773 1.77 1.832 2.391 3.914 2.391s3.098-.621 3.871-2.391l6.566-14.598v16.746h4.242V74.594c0-1.633-.652-2.422-2-2.828c-3.223-1.004-5.383-.137-6.363 2.039l-6.441 14.41l-6.238-14.41c-.937-2.176-3.14-3.043-6.359-2.039c-1.348.406-2 1.195-2 2.828zM32.93 77.68h4.238v9.227c-.039.5.16 1.676 2.484 1.715h9.223V77.633h4.25c.02 0-.008 14.984-.008 15.047c.023 3.695-4.582 4.496-6.707 4.559H33.02v-2.852l13.414-.004c2.73-.285 2.406-1.645 2.406-2.098v-1.113h-9.012c-4.195-.039-6.863-1.871-6.898-3.977c-.004-.191.09-9.422 0-9.516zm23.461 13.633h12.195c1.426 0 2.813-.301 3.914-.816c1.836-.84 2.73-1.984 2.73-3.48v-3.098c0-1.223-1.016-2.367-3.016-3.125c-1.059-.41-2.367-.625-3.629-.625h-5.141c-1.711 0-2.527-.516-2.73-1.656c-.039-.137-.039-.246-.039-.383V76.2c0-.109 0-.219.039-.355c.203-.867.652-1.113 2.16-1.25l.41-.027h12.109v-2.824H63.488c-1.711 0-2.609.109-3.426.352c-2.527.789-3.629 2.039-3.629 4.215v2.473c0 1.902 2.16 3.535 5.789 3.914c.41.027.816.055 1.223.055h4.406c.164 0 .324 0 .449.027c1.344.109 1.914.355 2.324.844c.211.195.332.473.324.758v2.477c0 .297-.203.68-.609 1.004c-.367.328-.98.543-1.793.598l-.449.027H56.391zm45.297-4.922c0 2.91 2.164 4.539 6.523 4.867c.41.027.816.055 1.227.055h11.051v-2.828h-11.133c-2.488 0-3.426-.625-3.426-2.121V71.738h-4.238V86.39zm-23.75.148V76.457c0-2.559 1.801-4.113 5.355-4.602a7.976 7.976 0 0 1 1.145-.082h8.047c.41 0 .777.027 1.188.082c3.555.488 5.352 2.043 5.352 4.602v10.082c0 2.078-.762 3.188-2.523 3.914l4.18 3.77h-4.926l-3.379-3.051l-3.402.215H84.44a9.23 9.23 0 0 1-2.492-.352c-2.699-.734-4.008-2.152-4.008-4.496zm4.578-.246c0 .137.043.273.082.438c.246 1.172 1.352 1.824 3.023 1.824h3.852l-3.539-3.195h4.926l3.086 2.789c.57-.305.945-.766 1.074-1.363c.043-.137.043-.273.043-.41v-9.668c0-.109 0-.246-.043-.383c-.246-1.09-1.348-1.715-2.98-1.715h-6.418c-1.879 0-3.105.816-3.105 2.098zm41.703-19.246c-2.605-.07-4.598.172-6.301.891c-.484.203-1.258.207-1.336.813c.266.281.309.699.52 1.039c.406.66 1.094 1.539 1.707 2c.664.508 1.355 1.047 2.074 1.484c1.273.777 2.699 1.223 3.93 2c.723.461 1.441 1.039 2.148 1.559c.348.254.582.656 1.039.816v-.074c-.238-.305-.301-.723-.52-1.039l-.965-.965c-.941-1.25-2.137-2.348-3.41-3.262c-1.016-.727-3.281-1.711-3.707-2.891l-.074-.074c.719-.078 1.563-.34 2.223-.516c1.117-.301 2.113-.223 3.262-.52l1.559-.449v-.293c-.582-.598-.996-1.387-1.633-1.93c-1.656-1.41-3.469-2.824-5.336-4.004c-1.035-.652-2.312-1.074-3.41-1.629c-.367-.187-1.016-.281-1.262-.594c-.574-.734-.887-1.664-1.332-2.52a96.534 96.534 0 0 1-2.668-5.633c-.562-1.285-.93-2.555-1.633-3.707c-3.363-5.535-6.988-8.875-12.602-12.156c-1.191-.699-2.633-.973-4.148-1.332l-2.449-.148c-.496-.211-1.012-.82-1.48-1.113c-1.859-1.176-6.629-3.73-8.008-.371c-.867 2.121 1.301 4.191 2.078 5.266c.543.754 1.242 1.598 1.629 2.445c.258.555.301 1.113.52 1.703c.539 1.453 1.008 3.031 1.707 4.375c.352.68.738 1.395 1.184 2c.273.371.742.539.816 1.113c-.457.641-.484 1.633-.742 2.445c-1.16 3.652-.723 8.191.965 10.898c.516.828 1.734 2.609 3.41 1.926c1.465-.598 1.137-2.445 1.555-4.078c.098-.367.039-.641.223-.887v.074l1.336 2.668c.988 1.59 2.738 3.25 4.223 4.371c.773.582 1.379 1.59 2.375 1.93V68.6h-.074c-.195-.297-.496-.422-.742-.664c-.582-.57-1.227-1.277-1.703-1.93c-1.352-1.832-2.547-3.84-3.633-5.93c-.52-.996-.973-2.098-1.41-3.113c-.168-.391-.164-.984-.516-1.184c-.48.742-1.187 1.344-1.559 2.223c-.594 1.402-.668 3.117-.891 4.891l-.148.074c-1.031-.25-1.395-1.312-1.777-2.223c-.973-2.305-1.152-6.02-.297-8.672c.219-.687 1.219-2.852.813-3.484c-.191-.633-.828-1-1.184-1.484a11.7 11.7 0 0 1-1.187-2.074c-.793-1.801-1.164-3.816-2-5.633c-.398-.871-1.074-1.75-1.629-2.523c-.617-.855-1.305-1.484-1.781-2.52c-.168-.367-.398-.957-.148-1.336c.078-.254.195-.359.445-.441c.43-.332 1.629.109 2.074.293c1.191.496 2.184.965 3.191 1.633c.48.32.969.941 1.555 1.113h.668c1.043.238 2.211.07 3.188.367c1.723.523 3.27 1.34 4.668 2.227c4.273 2.695 7.766 6.535 10.156 11.117c.387.738.551 1.441.891 2.223c.684 1.578 1.543 3.203 2.223 4.746s1.34 3.094 2.297 4.375c.504.672 2.453 1.031 3.336 1.406c.621.262 1.637.535 2.223.891c1.125.676 2.211 1.48 3.266 2.223c.523.375 2.141 1.188 2.223 1.855zM91.082 38.805a5.26 5.26 0 0 0-1.332.148v.074h.074c.258.535.715.879 1.035 1.336l.742 1.555l.074-.07c.461-.324.668-.844.668-1.633c-.187-.195-.211-.437-.371-.668c-.211-.309-.621-.48-.891-.742zm0 0'/%3E%3C/svg%3E");
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
}

/* ----------------------------------------------------------------------- */

/* SentinelOne */

.tabler--letter-s-small {
  /* color: #9365f0; */
  color: #561ddb;
  display: inline-block;
  width: 80px;
  height: 80px;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='none' stroke='%23000' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M10 15a1 1 0 0 0 1 1h2a1 1 0 0 0 1-1v-2a1 1 0 0 0-1-1h-2a1 1 0 0 1-1-1V9a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1'/%3E%3C/svg%3E");
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
}
/* ------------------------------------------------------------------------- */

/* Mimecast */

.mdi--letter-m {
  display: inline-block;
  color: #dbd948;
  width: 80px;
  height: 80px;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23000' d='M9 7a2 2 0 0 0-2 2v8h2V9h2v7h2V9h2v8h2V9a2 2 0 0 0-2-2z'/%3E%3C/svg%3E");
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
}
/* ----------------------------------------------------------------------- */

/* Avanan */
.tabler--hexagon-letter-a {
  display: inline-block;
  color: palevioletred;
  width: 80px;
  height: 80px;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cg fill='none' stroke='%23000' stroke-linecap='round' stroke-linejoin='round' stroke-width='2'%3E%3Cpath d='M19.875 6.27A2.225 2.225 0 0 1 21 8.218v7.284c0 .809-.443 1.555-1.158 1.948l-6.75 4.27a2.269 2.269 0 0 1-2.184 0l-6.75-4.27A2.225 2.225 0 0 1 3 15.502V8.217c0-.809.443-1.554 1.158-1.947l6.75-3.98a2.33 2.33 0 0 1 2.25 0l6.75 3.98z'/%3E%3Cpath d='M10 16v-6a2 2 0 1 1 4 0v6m-4-3h4'/%3E%3C/g%3E%3C/svg%3E");
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
}

/* ------------------------------------------------------------ */

/*-------------------------------------------------------
ICONS -END
--------------------------------------------------------*/
